.homepage {
    width: 100%;
}

.hero {
    margin-top: -100px;
}

.hero h1 {
    position: relative;
    top: 10em;
    left: 5em;
    width: 590px;
    text-align: left;
    font-weight: normal;
    font-style: italic;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    border-radius: 20px;
}

button:hover {
    background-color: #4a4a4a;
    color: white;
}

.hero button {
    position: relative;
    top: 18em;
    font-weight: normal;
    font-style: italic;
}

.header-image {
    width: 759px;
    float: right;
    height: auto;
    /* margin-top: 500px; */
}

.column-image {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.column-image > img {
    width: 40%;
    height: 596px;
    padding: 24px 24px 24px 0;
}

.how-it-works-title {
    width: 200px;
    height: 41px;
    font-family: Avenir;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 500px;   
    text-align: center; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.how-it-works-image {
    height: 275px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}