.header-top {
    display: flex;
    /* justify-content: space-between; */

}

.header-nav {
    list-style-type: none; 
    display: flex;
    justify-content: space-around;       
    margin-left: 145px;
    margin-right: 145px;

}

nav li {
    display: inline;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
}

.header-top {
    display: inline-block;
}

#profile-logo {
    width: 37px;
    height: 37px;
}

#star-logo {
    width: 35px;
    height: 35px;
}

#head-logo{
    width: 241px;
    height: 66px;    
}

#location-logo {
    width: 37px;
    height: 37px;
    background-color: #000000;  
}


#search-logo {
    width: 37px;
    height: 37px;
    background-color: #000000;  
}

