.carousel {
    width: 100%;
    display: flex;
}

.main-container {
    display: inline-block;
    width: 648px;
    height: 952px;
    overflow: hidden;
}

.carousel-img-side {
    display: flex;
    flex-direction: column;
    width: 100px;
}

/* .carousel-img-main {
    width: 100%;
    height: auto;
} */

.carousel-img {
    display: inline-block;
    width: 84px;
    height: 128px;
    opacity: 0.7;
}

.carousel-img:hover {
    background-color:#000;
    opacity: 1;
}