/* .clothes-options {
    width: 100%;
    height: auto;
} */

.specific-page {
    margin: 100px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.image-desc-div {
    display: flex;

}

/* .images-class {
    float: left;
}

.desc-class {
    float: right;
} */