.footer {
    width: 100%;
    height: auto;  
}

.footer-links {
    float: left;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 102px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 70px;

}

.footer-links > p {
    width: 25%;
}

.social-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    margin-right: 102px;  
    margin-bottom: 10px; 
    margin-top: 110px;
}

#instagram, #pinterest, #youtube {
    width: 50px;
    height: 50px;
}

#instagram {
    padding-right: 40px;
}

#youtube {
    padding-left: 40px;
}
/* ----------- Media Queries ----------- */
/* Android Phones -- Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px)  
and (-webkit-min-device-pixel-ratio: 2) {
    
    .footer-links {
        width: 100%;
        height: auto; 
        margin: 0 auto;
    }
    .footer-links > p {
        width: 50%;
        margin-top: 20px;
    }
    .social-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        float: right;
        margin: 50px auto;
        width: 100%;
    }

    #instagram, #pinterest, #youtube {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    #instagram {
        padding-right: 0;
    }
    #youtube {
        padding-right: 0;
    }
    #pinterest {
        padding-right: 0;
    }
}

/* ----------- iPhone 5 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .footer-links {
        width: 100%;
        height: auto; 
        margin: 0 auto;
    }
    .footer-links > p {
        width: 50%;
        margin-top: 20px;
    }
    .social-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        float: right;
        margin: 50px auto;
        width: 100%;
    }

    #instagram, #pinterest, #youtube {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    #instagram {
        padding-right: 0;
    }
    #youtube {
        padding-right: 0;
    }
    #pinterest {
        padding-right: 0;
    }
}


/* ----------- iPhone 6, 7 and 8 ----------- */

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    
    .footer-links {
        width: 100%;
        height: auto; 
        margin: 0 auto;
    }
    .footer-links > p {
        width: 50%;
        margin-top: 20px;
    }
    .social-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        float: right;
        margin: 50px auto;
        width: 100%;
    }

    #instagram, #pinterest, #youtube {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    #instagram {
        padding-right: 0;
    }
    #youtube {
        padding-right: 0;
    }
    #pinterest {
        padding-right: 0;
    }
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    
    .footer-links {
        width: 100%;
        height: auto; 
        margin: 0 auto;
    }
    .footer-links > p {
        width: 50%;
        margin-top: 20px;
    }
    .social-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        float: right;
        margin: 50px auto;
        width: 100%;
    }

    #instagram, #pinterest, #youtube {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    #instagram {
        padding-right: 0;
    }
    #youtube {
        padding-right: 0;
    }
    #pinterest {
        padding-right: 0;
    }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (max-width: 400px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    
    .footer-links {
        width: 100%;
        height: auto; 
        margin: 0 auto;
    }
    .footer-links > p {
        width: 50%;
        margin-top: 20px;
    }
    .social-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        float: right;
        margin: 50px auto;
        width: 100%;
    }

    #instagram, #pinterest, #youtube {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    #instagram {
        padding-right: 0;
    }
    #youtube {
        padding-right: 0;
    }
    #pinterest {
        padding-right: 0;
    }
}