.footer {
    width: 100%;
    height: 256px;
}

.footer-links {
    float: left;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 102px;
    margin-bottom: 98px;
}

.footer-links > p {
    width: 25%;
} 