.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
/* ----------- Media Queries ----------- */
/* Android Phones -- Portrait and Landscape */
 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)  
  and (-webkit-min-device-pixel-ratio: 2) { 
    .app {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      object-fit: cover;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }

    .how-it-works-image {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      margin-top: -100px;
    }
    .homepage > div > img {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      padding: 5px;
  }
    .hero {
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
      object-fit: cover;
  }
    .hero > h1 {
      display: none;
  }

    .hero > button {
      display: none;
  }

    .saved-grid {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: repeat(2, 100px);
      object-fit: cover;
  }
} 

/* ----------- iPhone 5 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .app {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      object-fit: cover;
      text-align: center;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }

    .how-it-works-image {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      margin-top: -100px;
    }
    .homepage > div > img {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      padding: 5px;
  }
    .hero {
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
      object-fit: cover;
  }
    .hero > h1 {
      display: none;
  }

    .hero > button {
      display: none;
  }
} 

/* ----------- iPhone 6, 7 and 8 ----------- */
/* Portrait */
 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .app {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      object-fit: cover;
    }

    .how-it-works-image {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      margin-top: -100px;
    }
    .homepage > div > img {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      padding: 5px;
  }
    .hero {
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
      object-fit: cover;
  }
    .hero > h1 {
      display: none;
  }

    .hero > button {
      display: none;
  }
} 

/* Landscape */
 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .app {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      object-fit: cover;
    }

    .how-it-works-image {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      margin-top: -100px;
    }
    .homepage > div > img {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      padding: 5px;
  }
    .hero {
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
      object-fit: cover;
      margin-top: -300px;
  }
    .hero > h1 {
      display: none;
  }

    .hero > button {
      display: none;
  }
} 

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
 @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .app {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      object-fit: cover;
    }

    .how-it-works-image {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      margin-top: -100px;
    }
    .homepage > div > img {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      padding: 5px;
  }
    .hero {
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
      object-fit: cover;
  }
    .hero > h1 {
      display: none;
  }

    .hero > button {
      display: none;
  }
}

/* Landscape */
 @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .app {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      object-fit: cover;
    }

    .how-it-works-image {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      margin-top: -100px;
    }
    .homepage > div > img {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      padding: 5px;
  }
    .hero {
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
      object-fit: cover;
  }
    .hero > h1 {
      display: none;
  }

    .hero > button {
      display: none;
  }
} 

/* ----------- iPhone X ----------- */

/*Portrait and Landscape */
 @media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .app {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      object-fit: cover;
    }

    .how-it-works-image {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      margin-top: -100px;
    }
    .homepage > div > img {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      padding: 5px;
  }
    .hero {
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
      object-fit: cover;
  }
    .hero > h1 {
      display: none;
  }

    .hero > button {
      display: none;
  }

} 

/* Portrait */
@media screen and (max-width: 400px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    
    .app {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      object-fit: cover;
    }
  
    .how-it-works-image {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      margin-top: -500px;
    }
    .homepage > div > img {
      width: 100%;
      height: 100%;
      padding: 5px;
      object-fit: cover;
      padding: 5px;
  }
    .hero {
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;
      object-fit: cover;
  }
    .hero > h1 {
      display: none;
  }

    .hero > button {
      display: none;
  }
  /* .saved-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
    object-fit: cover;
} */

} 