.similar {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/* .similar::after {
    content: "";
    clear: left;
    display: block;
  } */

.recommended {
    display: inline-block;
    width: 280px;
    height: 328px;
    margin: 12px 16px;
    overflow: hidden;
}

.recommended > img {
    width: 100%;
}

.similar-title {
    font-size: 24px;
    color: #5a5a5f;
}

