.Rectangle {
  margin: 0 auto;
  width: 928px;
  height: 600px ;
  border-radius: 8px;
  border: solid 1px #dddddd;
}
#Cont {
  height: 600px ;
}
.input {
  font-size: 15pt;
  width: 330px;
  height: 40px;
  border-radius: 8px;
  border: solid 1px #4a4a4a;
  margin: 1vw;
}

.inputBigger {
  font-size: 15pt;
  width: 540px;
  height: 40px;
  border-radius: 8px;
  border: solid 1px #4a4a4a;
  margin: 1vw;
}
input::placeholder {
  text-indent: 20px;
}
.nextButton {
  width: 255px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  border: solid 3px #000000;
  background-color: #000000;
}

.nextText {
  width: 83px;
  height: 44px;
  font-family: Avenir;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Sign-Up {
  padding: 10px;
  width: 320px;
  height: 49px;
  font-family: Avenir;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  border-bottom: 5px solid #4a4a4a;
}
.Sign-In {
  padding: 10px;
  width: 130px;
  height: 49px;
  font-family: Avenir;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

}

.Line-13 {
  width: 320px;
  height: 5px;
  background-color:#4a4a4a;
}

.desk-1 {
  margin:  100px 272px 40px 269px;
  display: flex;
  justify-content: space-between;
  width: 898.5px;
  height: 17px;
  border-radius: 13px;
}
#desk_id {
  background-color: #dddddd;
}
.container {
  margin: 0 auto;
}

.oval {
  align-self: center;
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border-radius: 100%;
}
.border {
  border: solid black;
}